body{
  font-family: arial, sans-serif;
}

h1 {
  color: #000000;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 5px;
}

ul{
  margin: 0;
  padding: 0;
}


li{
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li::first-letter{
  text-transform: capitalize;
}

p{
    text-align: center;
    font-size: 12px;
}

.weather-app-wrapper{
  max-width: 720px;
  margin: 80px auto;
}

.weather-app{
  border: 1px solid #dadde1;
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  box-shadow: 5px 8px 18px lightslategray;
}

.overview{
  margin-bottom: 30px;
}

.weather-temperature img{
  position: relative;
  margin-right: 5px;
  height: 100px;
  width: 100px;
  top: -15px;
}

.weather-temperature strong{
  color: #000000;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units{
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active{
  color: #000000;
  cursor: default;
}

.weather-temperature .active:hover{
  text-decoration: none;
}

.weather-forecast{
  margin-top: 50px;
  text-align: center;
  color: #000000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 15px;
}